<ion-header>
    <ion-toolbar color="primary" text-center>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>

        </ion-buttons>    
        <ion-title>TATS</ion-title>
        <ion-title size="small">The Amazing Tournament Scheduler</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>
        <ion-item>
            <ion-label [routerLink]="['/championships']">Mes Championnats</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Mes Stats</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
