<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>TATS</ion-title>
    <ion-title *ngIf="!cup.id" size="small">Créer une coupe</ion-title>
    <ion-title *ngIf="cup.id" size="small">Consulter une coupe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nom de la coupe :</ion-label>
    <ion-input [(ngModel)]="cup.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Url de l'image :</ion-label>
    <ion-input [(ngModel)]="cup.img"></ion-input>
  </ion-item>
    <!--<ion-list>
        <ion-item-sliding *ngFor="let track of (tracks | async)">
        {{ track.name }}
        </ion-item-sliding>
    </ion-list>-->
</ion-content>

<ion-footer *ngIf="!cup.id">
  <ion-toolbar>
    <ion-button (click)="add()" fill="solid" expand="full" color="success">
      Ajouter la coupe
    </ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="cup.id">
  <ion-row class="ion-no-padding ion-text-center">
    <ion-col size="6">
      <ion-button (click)="delete()" fill="outline" expand="block" color="danger">
        Supprimer
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="update()" fill="solid" expand="block" color="success">
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
